@font-face {
    font-family: 'clock';
    src: url('clock.ttf') format('truetype');
    /* Safari, Android, iOS */
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
   
    color:rgb(73, 69, 69);
    background-color: gainsboro;
}

.container {
    background-color: white;
    margin-left: 1%;
    margin-right: 1%;
    padding: 50px;
    justify-content: center;
    padding-left: 25%;
    font-family: clock;
}


.contain {
    font-size: 200px;
}

.contain_mil {
    font-size: 100px;
}

span{
    margin-left:5px;
}
/* buttons styling */

#btn_container{
    margin-left: 17%;
}
button {
    height: 40px;
    width: 80px;
    align-items: center;
    font-size: medium;
    font-weight: 500;
    color: rgb(255, 255, 255);
    border-radius: 10%;
    border: 0px;
    cursor: pointer;
    margin-left: 5px;
}

#btn_reset {
    background-color: rgb(249, 246, 47);
}
#btn_reset:hover{
    background-color: rgb(247, 247, 52);
}
#btn_reset:disabled{
    background-color: yellow;
    cursor:not-allowed;
}



#btn_lap {
    background-color: blue;
    display:none;
}

#btn_stop {
    background-color: red;
    display:none;
}

#btn_start {
    background-color: green;
    display: inline-block;
}

/* styling of lap container */
#lap_container{
    padding-left: 25%;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-right: 25%;
    background-color: white;
    font-family: clock;
    margin: 3%;
    display: none;
    font-size: 20px;
}

#inner_lap{
    display: flex;
    flex-direction: column-reverse;
}

/* for responsiveness  for tablets*/

@media only screen and (max-width: 860px) {
   
    .contain {
        font-size: 100px;
    }

    .contain_mil {
        font-size: 50px;
    }

    button {
        height: 30px;
        width: 60px;
        font-size:normal;
    }
}

/* for smallest width devices */
@media only screen and (max-width: 450px) {
   
    .contain {
        font-size: 50px;
    }

    .contain_mil {
        font-size: 25px;
    }

    button {
        height: 20px;
        width: 40px;
        font-size:small;
        padding:3px;
    }
}